* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  /* color: var(--iv-gray-7); */
  color: #1f2328;
}
