.intro-container {
  position: relative;
  top: 82px;
}
.hero {
  position: relative;
  border-bottom: 1px solid #000;
}
.hero .inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.hero .highlight {
  position: relative;
  display: flex;
  height: 386px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero .guided {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.evolve {
  position: relative;
  border-bottom: 1px solid #000;
}
.evolve .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.bl {
  border-left: 1px solid #000;
}
.bb {
  border-bottom: 1px solid #000;
}
.br {
  border-right: 1px solid #000;
}
.bt {
  border-top: 1px solid #000;
}
.evolve .evolve-smart-card {
  padding: 60px;
}
.evolve .feat-stack {
  display: block;
  list-style: none;
  height: 120px;
}
.evolve .feat-stack li {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}
.evolve .feat-stack p {
  margin-bottom: 0;
}
.footer {
  position: relative;
  padding: 42px 0;
}
.footer p {
  margin-bottom: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .hero .inner {
    padding: 24px 0;
  }
  .evolve .feat-stack {
    display: none;
  }
  .no-show-small-screen {
    display: none;
  }
}
@media only screen and (max-width: 1080px) {
  .hero .inner {
    padding: 24px 0;
  }
  .feature-tiles, .evolve {
    padding-left: 64px;
    padding-right: 64px;
  }
}
